doctype html
html(lang='en')
  include ../includes/head.pug
    block title
  body(ng-app='fileupp')
    include ../includes/navBar.pug
    .container-fluid.text-center
      .row.content
        include ../includes/rightNav.pug
          block content
          p Lorem ipsum...
        include ../includes/leftNav.pug
    include ../includes/footer.pug
