doctype html
html
  include ../includes/head.pug
  body
    block content
    header
      h1 HomeHomeHome
      h2 PagePagePage
    main
      include ../includes/navBar.pug
      p from layout
    
