doctype html
html(lang='en')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
  include ../includes/head.pug
    block title
  body(ng-app='fileupp')
    .container-fluid.text-center
      .row.content
        include ../includes/rightNav.pug
        .col-sm-8.text-left
          h1 Welcome
          .col-md-4.text-center
            .panel.panel-primary
              .panel-heading Login Using
              .panel-body
                br
                block content
          hr
          h3 Test
          p Lorem ipsum...
        include ../includes/leftNav.pug
    include ../includes/footer.pug
