doctype html
html(lang='en')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
  include ../includes/head.pug
    block title
  body(ng-app='fileupp')
    include ../includes/navBarIn.pug
    .container-fluid.text-center
      .row.content
        include ../includes/rightNav.pug
        .col-sm-8.text-left
          h1 Welcome
          block content
        include ../includes/leftNav.pug
    include ../includes/footer.pug
