doctype html
html(lang='en')
  include ../includes/head.pug
    block title
  body(ng-app='fileupp')
    .container-fluid.text-center
      .row.content
        include ../includes/rightNav.pug
        .col-sm-8.text-left
          .col-md-4.text-center
            block content
        include ../includes/leftNav.pug
    include ../includes/footer.pug
