extends layoutIn.pug

block content
	.center
		form#form_add_seq(seqID="addseq", method="post", action="/addseq")
			span Sequence Name
			span &nbsp;
			input#input_seqname(type="text", placeholder="Sequence Name", name="seqName")
			br
			br
			span Organism
			span &nbsp;
			input#input_organism(type="text", placeholder="Organism", name="organism")
			br
			br
			button#submit_seq(type="submit") submit metadata
